<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./CSS/Home.css"/>
</head>
<body>
    <div class='login'>
    <div class='login_sq'>
        <Link to = '/user'> 
          <button class='box' onClick="window.location.href='http://127.0.0.1:8000/login/';">
            <img src="./Images/user.png" alt="Logo" width="120" height="120" />
            <p>Login</p>
          </button>
        </Link>
        </div>
        <div class='login_sq'onClick="window.location.href='http://127.0.0.1:8000/login/';">        
        <Link to = '/org'> 
          <button class='box'>
            <img src="./Images/organization.png" alt="Logo" width="120" height="120" />
            <p>Register</p>
          </button>
        </Link>
        </div>
    </div>
</div>
</body>
</html>




<!-- <form action = "" method = "POST">
   {% csrf_token %}
   <label for="username">Your name: </label>
   <input id="username" type="text" name="username">
   <label for="password">Your name: </label>
   <input id="password" type="password" name="password">
   <label for="type">type: </label>
   <input id="type" type="text" name="type">
   
   <input type="submit" value="OK">
</form> -->