<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/login.css"/>
</head>
<body>
    <div class="main">
        <div class="left_container">
            <form action = "" method = "POST" class="body">
                {% csrf_token %}
                <div class="row">
                    <label for="username">Username: </label>
                    <input id="username" type="text" name="username">
                </div>
                <div class="row">
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password">
                </div>
                <!-- <div class="row">
                    <label for="type">type: </label>
                    <input id="type" type="text" name="type">
                </div> -->
                <div class="row">
                    <label for="type">Choose login type:</label>
                    <select id="type" name="type">
                        <option value="Patient">Patient</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Organization">Organization</option>
                    </select>
                </div>
                <input type="submit" value="Verify" class="submit">
            </form>
        </div>
        <div class="right_container">
            <h1>Login</h1>
        </div>
    </div>

</body>
</html>




<!-- <form action = "" method = "POST">
   {% csrf_token %}
   <label for="username">Your name: </label>
   <input id="username" type="text" name="username">
   <label for="password">Your name: </label>
   <input id="password" type="password" name="password">
   <label for="type">type: </label>
   <input id="type" type="text" name="type">

   <input type="submit" value="OK">
</form> -->