<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/Patient.css" />
</head>

<body>
    <div className="main">
        <div className="side_menu">
            <div className="side_menu_header">
                <button>
                    <img src='../static/Images/patient.png' alt="Avatar" />
                </button>
                <button>
                    <h2>Patient name</h2>
                </button>

            </div>
            <div className="side_menu_body">
                <a href="#">Browse Doctors</a>
                <a href="#">Browse Pharmacys</a>
                <a href="#">Browse Hospitals</a>
                <a href="#">Browse Insurance</a>
                <a href="#">Get Health Records</a>
                <a href="#">Purchase Medicine</a>
                <a href="#">Your Documents</a>
                <button href="onClick="window.location.href='http://127.0.0.1:8000/Payment/'>Click here </button>


            </div>
            <div className="side_menu_footer">
                <a href="#">
                    <img src="../static/Images/hospital.png" alt="Avatar" />
                    <p>logout</p>
                </a>

            </div>
        </div>
        <div className="main_menu">
            <input type="text" placeholder="Search.." />
        </div>
    </div>
</body>

</html>