<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./CSS/login.css"/>
</head>
<body>
    <div class="main">
        <div class="container">

            <div class="header">
            <h1>Register</h1>
            </div>

                    <!-- <input type="text" placeholder="Email..." />
                    <input type="text" placeholder="Password..."/> -->
                    <form action="" method = "POST" class="bodys">
                        <div class="row">
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username">
                        </div>
                        <div class="row">
                            <label for="email">Email</label>
                            <input id="email" type="email" name="email">
                        </div>
                        <div class="row">
                            <label for="name">Name</label>
                            <input id="name" type="text" name="name">
                        </div>
                        <div class="row">
                            <label for="password">Create Password: </label>
                            <input id="password" type="password" name="password">
                        </div>
                        <div class="row">
                            <label for="password">Confirm Password: </label>
                            <input id="password" type="password" name="password">
                        </div>
                        <div class="row">
                            <label for="mobile_number">Mobile number: </label>
                            <input id="mobile_number" type="text" name="mobile_number">
                        </div>
                        <div class="row">
                            <label for="descriptio">Description: </label>
                            <input id="description" type="text" name="description">
                        </div>
                        <div class="row">
                            <label for="Image1">Image1: </label>
                            <input id="Image1" type="file" name="Image1" class="files">
                        </div>
                        <div class="row">
                            <label for="Image2">Image2: </label>
                            <input id="Image2" type="file" name="Image2" class="files">
                        </div>

                        <div class="row">
                            <label for="cars">Choose type:</label>
                            <select id="cars">
                            <option label="Pharmacy">Pharmacy</option>
                            <option label="Hospital">Hospital</option>
                            <option label="Insurance">Insurance</option>
                            </select>
                        </div>
                        <div class="row2">
                            <input type="submit" value="Login" class="submit">
                        </div>
                     </form>
        </div>
    </div>

</body>
</html>

