<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/add.css"/>
</head>
<body>
    <div class="main">
        <form action="" method = "POST" class="screen" id="share_docs">
            <h1>Upload Documents</h1>
            <input type="text" id="name" name="name" placeholder="Enter file name">
            <input type="file" id="myFile" name="filename">
            <input type="submit" value="Submit" class="submit">
          </form>
    </div>
</body>
</html>