<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/doc_share.css"/>
</head>
<body>
    <div class="main">
        <h1 class="title">Share Documents</h1>
        <div class="container">
            <form action="" method = "POST" id="share_docs" class="abc">
                {% csrf_token %}
                <div class="form_container">
                    <div class="column">
                        <h3>Select Documents:</h3>
                            {% for Document in Documents %}
                                <input type="checkbox" label="{{ Document.name }}"  id="{{ Document.name }}" value="{{ Document.name }}" name="Document">
                                <label  for="{{ Document.name }}"> {{ Document.name }}</label><br>
                            {% endfor %}
                    </div>
                    <div class="column">
                        <h3>Choose Doctors:</h3>
                        {% for Doctor in Doctors %}
                            <input type="checkbox" id="{{ Doctor.username }}" name="Doctor" value="{{ Doctor.username }}">
                            <label for="{{ Doctor.username }}">{{ Doctor.name }}</label><br>
                        {% endfor %}
                    </div>
                    <div class="column">
                        <h3>Choose Pharmacy:</h3>
                        {% for Doctor in Pharmacies %}
                            <input type="checkbox" id="{{ Doctor.username }}" name="Pharmacy" value="{{ Doctor.username }}">
                            <label for="{{ Doctor.username }}"> {{ Doctor.name }}</label><br>
                        {% endfor %}
                    </div>
                    <div class="column">
                        <h3>Choose Insurance:</h3>
                        {% for Doctor in Insurance_Firms %}
                                    <input type="checkbox" id="{{ Doctor.username }}" name="Insurance" value="{{ Doctor.username }}">
                                    <label for="{{ Doctor.username }}"> {{ Doctor.name }}</label><br>
                        {% endfor %}
                    </div>
                    <div class="column">
                        <h3>Choose Hospital:</h3>
                        {% for Doctor in Hospitals %}
                            <input type="checkbox" id="{{ Doctor.username }}" name="Hospital" value="{{ Doctor.username }}">
                            <label for="{{ Doctor.username }}"> {{ Doctor.name }}</label><br>
                        {% endfor %}
                    </div>
                </div>
                <input type="submit" value="Submit" class="submit">
            </form>
        </div>
    </div>
</body>
</html>