<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/start.css"/>
</head>
<body>
        <div class="main">
            <div class="container">
                <h1> Welcome ! to group xx's FCS Project</h1>
                <a class="btn" href="/admin">Admin</a>
                <a class="btn" href="/login">Login</a>
                <h3>Don't have an account?</h3>
                <div class="signup">
                    <a class="btn" href="/signup/patient">Patient Signup</a>
                    <a class="btn" href="/signup/doctor">Doctor Signup</a>
                    <a class="btn" href="/signup/organization">Organization Signup</a>
                </div>
                
            </div>
        </div>

</body>
</html>