<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
</head>
<body>
    <div class="main">
        <div class="left_container">
            <form action = "" method = "POST" class="body">
                {% csrf_token %}
                <div class="row">
                    <label for="otp">OTP: </label>
                    <input id="otp" type="text" name="otp"
                    <textarea class="use-keyboard-input" name='otp'></textarea>
                    <script src="../static/script/keyboard.js"></script>
                </div>
                <a href="/otp">Resend OTP</a>
                <input type="submit" value="Resend" class="submit" href="/otp">
                <input type="submit" value="Login" class="submit">
            </form>
        </div>
        <input class="input" placeholder="Tap on the virtual keyboard to start" />
        <div class="simple-keyboard"></div>

        <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
        <script src="src/index.js"></script>
        <div class="right_container">
            <h1>Login</h1>
        </div>
    </div>

</body>
</html> -->

<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
</head>

<body>
    <input class="input" />
    <div class="simple-keyboard"></div>
</body>
</html>
