<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/dash.css"/>
</head>
<body>
        <div class="main">
            <div class="side_menu">
                <div class="side_menu_header">
                    <button>
                        <h2>Welcome Patient {{user.name}}</h2>
                    </button>
                </div>
                <div class="side_menu_body">
                    <a href="../../list/doctors" >Browse Doctors</a>
                    <a href="../../list/organization" >Browse Organization</a>
                    <a href="../document/add" >Add Docs</a>
                    <a href="../document/delete" >Show/Delete Docs</a>
                    <a href="../document/share" >Share Docs</a>
                    <a href="../patient/edit" >Edit Profile</a>
                    <a href="../patient/requestclaim" >Request Claim</a>
                    <a href="../patient/edit" >Claim Status</a>

                </div>
                <div class="side_menu_footer">
                    <a href="../../logout">
                    <img src="../static/Images/logout.png" alt="Avatar"/>
                    <p>logout</p>
                    </a>
                </div>
            </div>
            <div class="main_menu">

                <h3>Following payments are pending, Complete them to fulfil order</h3>

                <form action="" method = "POST" id="claims" class="abc">
                    {% csrf_token %}
                    <div class="CLAIMS">
                        <table>
                        <h2><tr>
                            <td>Select</td>
                            <td>Claim ID</td>
                            <td>Firm Name</td>
                            <td>Amount</td>
                            <td>Document</td>
                            <td>Approved?</td>
                        </tr></h2>
                        {% for claim in unapproved %}


                        <tr>
                            <td><input type="radio" label="{{ claim.id }}"  id="{{ claim.id}}" value="{{ claim.id }}" name="claim"></td>
                            <td>{{claim.id}}</td>
                            <td>{{claim.firm.username}}</td>
                            <td>{{claim.amount}}</td>
                            <td>{{claim.document.file}}</td>
                            <td>{{claim.system_approved}}</td>
                        </tr>
                        {% endfor %}
                        </table>

                    </div>
                    <input type="submit" value="Validate" class="submit">
                </form>

            </div>
        </div>

</body>
</html>