<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/dash.css"/>
</head>
<body>
        <div class="main">
            <div class="side_menu">
                <div class="side_menu_header">
                    <button>
                        <h2>Welcome {{user.name}}</h2>
                    </button>
                </div>
                <div class="side_menu_body">
                    <a href="#" >Browse Doctors</a>
                    <a href="#" >Browse Pharmacys</a>
                    <a href="#" >Browse Hospitals</a>
                    <a href="#" >Browse Insurance</a>
                    <a href="#" >Get Health Records</a>
                    <a href="#" >Purchase Medicine</a>
                    <a href="#" >Your Documents</a>
                </div>
                <div class="side_menu_footer">
                    <a href="#&">
                    <img src="../static/Images/logout.png" alt="Avatar"/>
                    <p>logout</p>
                    </a>

                </div>
            </div>
            <div class="main_menu">
                <div class="main_menu_header">
                    <input type="text" placeholder="Search.." class="search"/>
                </div>
                <div class="share_docs">
                    <form action="" method = "POST" class="col1">
                        <div class="column">
                            <label for="partyb">Choose type:</label>
                            <select id="partyb">
                                <option label="Pharmacy">Pharmacy</option>
                                <option label="Hospital">Hospital</option>
                                <option label="Insurance">Insurance</option>
                                <option label="Doctor">Doctor</option>
                            </select>
                            <input type="submit" value="Go" class="submit">
                        </div>
                    </form>
                    <form action="" method = "POST" class="col1">
                        <div class="column">
                            <label for="partyb">Choose type:</label>
                            <select id="partyb">
                                <option label="Pharmacy">Pharmacy</option>
                                <option label="Hospital">Hospital</option>
                                <option label="Insurance">Insurance</option>
                                <option label="Insurance">Doctor</option>
                            </select>
                            <input type="submit" value="Login" class="submit">
                        </div>
                    </form>
                    <form action="" method = "POST" class="col1">
                        <div class="column">
                            <label for="partyb">Choose type:</label>
                            <select id="partyb">
                                <option label="Pharmacy">Pharmacy</option>
                                <option label="Hospital">Hospital</option>
                                <option label="Insurance">Insurance</option>
                                <option label="Insurance">Doctor</option>
                            </select>
                            <input type="submit" value="Login" class="submit">
                        </div>
                    </form>
                    <!-- <ul>
                        {% for car in cars %}
                            <li>{{ car.model }}</li>
                        {% endfor %}
                    </ul> -->
                </div>
                <div class="transaction">
                    transactions
                </div>
            </div>
        </div>

</body>
</html>