<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/dash.css"/>
</head>
<body>
        <div class="main">
            <div class="side_menu">
                <div class="side_menu_header">
                    <button>
                        <h2>Welcome Hospital {{user.name}}</h2>
                    </button>
                </div>
                <div class = "side_menu_body">
                    <a href="../../organization/edit">
                        
                        <p>Edit Details</p>
                        </a> 
                    </div>
                
                
                <div class="side_menu_footer">
                    
                    <a href="../../logout">
                    <img src="../static/Images/logout.png" alt="Avatar"/>
                    <p>logout</p>
                    </a>

                </div>
            </div>
            
        </div>

</body>
</html>